# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# sttings
tipos-variaveis/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
documentacao/.vscode/settings.json
terminal-argumentos/.vscode/launch.json
terminal-argumentos/.vscode/settings.json
condicionais-e-repeticao/.vscode/settings.json
tratamento-de-excecoes/.vscode/settings.json
debugging/.vscode/settings.json
calculo-saldo-final/.vscode/settings.json
poo/.vscode/settings.json
records/.vscode/settings.json
